.topcontainer{
  text-align: center;
  height: 1000px;
  background-repeat: no-repeat;
  background-image: url("https://img.freepik.com/free-photo/scenic-sunrise-high-mountains-alpes-generative-ai_191095-481.jpg");
}

.App{
  
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
