.itemcatlogoverall{
    background-image: url("https://wallpapercave.com/wp/wp5973673.jpg");
    height: 1000vh;
    padding: 20px;
}

.carstitle{
    display: flex;
    justify-content: center;
    font-size: 48px;
}

.itemscomponents:hover{
    transform: scale(1.09);   
}
.itemcomponentsall{
   /* display: grid;
   grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
   gap: 1rem;
   justify-items: center;
   margin: 20px; */
  
    display: grid;
    justify-content: space-evenly;
  

}
.btn.item{
   margin-left: 50px;
}
.itemcatlogoverall{
   background-color: gray;
   height: 1000vh;
   padding: 30px;
}

.imgitem{
   object-fit: cover;
}
.h1item{
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   font-size: 48px;
}
.itemcard{
   object-fit: cover;
   height: 500px;
   width: 300px;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.headbtn{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.movie-list{
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 1rem;
    justify-items: center;
    
  }